* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container .box {
  width: 100%;
  position: relative;
  display: flex;
}
.container .box .photo img {
  width: 100%;
  display: flex;
}
.container .box .button {
  width: 50px;
  height: 30px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box .prev {
  left: 10px;
}
.container .box .next {
  right: 10px;
}
.container .box2 {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  top: calc(100% - 20px);
}
.container .box .circle {
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.container .box2 .circle.active,
.container .box2 .circle:hover {
  background-color: goldenrod;
}
